*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
body{
    display: grid;
    grid-template-areas:'left-div header right-div'
                        'left-div main-content right-div'
                        'left-div footer right-div';
    gap: 0px;
    margin: 0px;
    justify-items: center;
}
.header{
    display: grid;
    grid-template-areas: 'main-header'
                         'nav-menu';
    grid-area: header;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px #888888;
    width: 72.5%;
}
.left-div{
    grid-area: left-div;
}
.right-div{
    grid-area: right-div;
}
.main-content{
    grid-area: main-content;
    min-height: 500px;
    box-shadow: 0px 0px 8px #888888;
}
.footer{
    grid-area: footer;
    min-height: 300px;
    width: 72.5%;
    background-color: #a7d5ff; /* For browsers that do not support gradients */
    background-image: linear-gradient(180deg, #a7d5ff, white);
    box-shadow: 0px 0px 8px #888888;
}
.logo{
    grid-area: logo;
    width: 100px;
    height: 100px;
}
.logo>img{
    width: 100%;
    height: 100%;
}
.main-header{
    grid-area: main-header;
    padding-top: 20px;
    display: flex;
}
.nav-menu{
    z-index: 3;
    grid-area: nav-menu;
    height: 31px;
    background-color: #2a75bb;
    color: white;
}
.nav-menu>ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.nav-menu>ul>li{
    float: left;
    padding: 3px 6px 6px 5px;
    font-size: 17px;
}
.nav-menu>ul>li:hover{
    background-color: #135a9c;
    cursor: pointer;
}
.nav-menu>ul>li>ul{
    visibility: collapse;
    background-color: #2a75bb;
    position: absolute;
    margin-top: 5px;
    margin-left: -5px;
    padding: 0px;
}
.nav-menu>ul>li:hover>ul{
    visibility: visible;
}
.nav-menu>ul>li>ul>li{
    list-style-type: none;
    padding: 3px 6px 6px 5px;
    font-size: 17px;
}
.nav-menu>ul>li>ul>li:hover{
    background-color: #135a9c;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
    width: 72.5%;
}
.main-content-title{
    display: flex; 
    align-items: center; 
    padding-top: 7%; 
    padding-bottom: 7%; 
    font-size: 40px; 
    font-weight: bold; 
    color: #2a75bb;
}

/*----------------------------- TRAININGS ORGANISED-------------------------------------*/
.trainings_orgainsed_class{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.trainings_orgainsed_class>img{
    width: 100%;
}

/*----------------------------- SNAPSHOTS OF ACTIVITIES -------------------------------*/
.snapshots_of_activities_class{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.snapshots_of_activities_class>img{
    width: 70%;
    box-shadow: 0px 0px 8px #888888;
}
.snapshots_of_activities_class>div{
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 2% 2% 2% 2%;
    margin-bottom: 7%;
    font-size: 25px;
    box-shadow: 0px 0px 8px #888888;
}

/*------------------------------ COUNCIL ACTS ----------------------------------*/
.council_acts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}